.navbar{
    padding: 15px;
}


.navbar .dropdown-menu {
  display: block;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(10px);
  transition: all 0.35s ease;
  border-radius: 12px;
  border: none;
  padding: 0;
  box-shadow: 0 12px 35px rgba(0,0,0,0.12);
}

.navbar .dropdown-menu.show {
  opacity: 1;
  max-height: 500px;
  padding: 12px 0;
  transform: translateY(0);
}

.dropdown-item {
  padding: 10px 20px;
  transition: all 0.25s ease;
}

.dropdown-item:hover {
  background: rgba(13,110,253,.08);
  padding-left: 26px;
}

.navbar .nav-link {
  position: relative;
  font-weight: 500;
  padding: 8px 14px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .nav-link:hover {
  color: #0d6efd;
  transform: translateY(-2px);
}


.navbar .nav-link.active {
  color: #0d6efd;
  font-weight: 600;
}

.dropdown-toggle::after {
  transition: transform 0.3s ease;
}

.dropdown.show .dropdown-toggle::after {
  transform: rotate(180deg);
}


#darkTheme svg {
  transition: transform 0.3s ease;
}

#darkTheme:hover svg {
  transform: translateX(4px);
}





.icon{
    padding: 0;
    align-items: end;
}


/* search button */
.form button {
  border: none;
  background: none;
  color: #8b8ba7;

  transition: 0.5s;
}
/* styling of whole input container */
.form {
    border: 1px solid black;

  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #385ea9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/*  animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}


.searchBar svg {
  transition: transform 0.3s ease;
}

.searchBar:hover svg {
  transform: translateX(4px);
}



/* hero */
.hero {
  position: relative;
  height: 80vh; 
  overflow: hidden;

}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1); 
}

.hero-content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  z-index: 2;
}

.hero-content h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
  font-family: "DM Serif Text", serif;
  font-style: normal;
  text-shadow: 2px 2px #000000;;
  padding-bottom: 1rem;

}

.navStyle{
 font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: bold;
}


/*  */
.barSlider{
    background-color: #103060;
}

.barSlider p{
    color: white;
    font-family: "DM Serif Text", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;

}


@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.barSlider:hover p {
  animation: fadeIn 0.8s ease forwards;
}



/* Industry Expertise */
.industryHeader{
    font-family: "DM Serif Text", serif;
    color: #103060;
    padding: 40px;
}

.industryParag{
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    line-height: 2;
    color: #103060;
}

.firmButton{
    border-radius: 0;
    font-family: "Fira Sans", sans-serif;
    font-size: 13px;
    color: #006BC9;
    border-color: #006BC9;
    align-items: flex-start; 
  transition: transform 0.45s ease;

}

.firmButton:hover{
  transform: scale(1.08);

}



/* "See more" arrow and line */
.icon-link {
  position: relative;
  text-decoration: none;
}

.icon-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background: currentColor;
  transition: width 0.3s ease;
}

.icon-link:hover::after {
  width: 80%;
}
/* // */

.icon-link svg {
  width: 10px;
  height: 10px;
   font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  color: #006BC9;
}

.icon-link svg {
  transition: transform 0.3s ease;
}

.icon-link:hover svg {
  transform: translateX(4px);
}




/* Financial Services */
.FinancialServlist {
  list-style: none;
  padding-left: 0;
  color: #103060;
  font-family: "Fira Sans", sans-serif;

}

.FinancialServlist li {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
  font-size: 15px;
}

.FinancialServlist svg{
    color: #006BC9;
}

.FinancialServlist li::before {
  position: absolute;
  left: 0;
  top: 0;
  color: #0d3b78; 
  font-size: 18px;
  line-height: 1;
} 

 .FinancialServlist li {
  transition: transform 0.2s ease;
}

.FinancialServlist li:hover {
  transform: translateX(4px);
} 



/* Real Estate */
.realEstateList{
  list-style: none;
  padding-left: 0;
  color: #103060;
  font-family: "Fira Sans", sans-serif;
}

.realEstateList li{
 display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
  font-size: 15px;
}

.realEstateList svg{
   color: #006BC9;

}


.realEstateList li::before {
  position: absolute;
  left: 0;
  top: 0;
  color: #0d3b78; 
  font-size: 18px;
  line-height: 1;
} 

 .realEstateList li {
  transition: transform 0.2s ease;
}

.realEstateList li:hover {
  transform: translateX(4px);
} 



/* icons */
.financialIcon{
    border-radius: 50%;
    background-color: #006BC9;
}

.industrialIcon{
    border-radius: 50%;
    background-color: #006BC9;
}





/* about us */
/* Section entrance animation */
.about-animate {
  opacity: 0;
  transform: translateY(30px);
  animation: aboutFadeUp 0.8s ease forwards;
}

@keyframes aboutFadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Text smooth hover */
.text-box h2,
.text-box p {
  transition: all 0.4s ease;
}

.text-box:hover h2 {
  letter-spacing: 0.5px;
  transform: translateX(6px);
}

.text-box:hover p {
  transform: translateX(3px);
}

/* Image smooth zoom */
.about-img {
  width: 100%;
  border-radius: 14px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.about-img:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}




 

/* Insights Card Hover Effects */
.insightsImg {
  background-size: cover;
  background-position: center;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  position: relative;
}

/* Dark overlay */
.insightsImg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.6)
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

/* Text container */
.insightsImg > div {
  position: relative;
  z-index: 2;
  transition: transform 0.5s ease;
}

/* Hover effects */
.insightsImg:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
}

.insightsImg:hover::before {
  opacity: 1;
}

.insightsImg:hover > div {
  transform: translateY(-10px);
}







/* team section */
.custom-card {
  position: relative;
  overflow: hidden;
  left: 40px;
}

.custom-card img {
  width: 290px;
  height: 339px;
  object-fit: cover;
  transition: transform 0.45s ease;
  will-change: transform;
}

.custom-card:hover img {
  transform: scale(1.08);
}


.card-content {
  position: relative;
  margin-top: -70px;   /* pulls the box upward over the image */
  margin-left: 15px;
  margin-right: 35px;

  min-height: 90px;
  padding: 10px;

  background: #fff;
  border: 1px solid #f5f6f8;
  text-align: center;
  z-index: 2;

}

.card-content p {
  font-size: 14px;
  color: #555;
  font-family: "Fira Sans", sans-serif;

  display: flex;
  justify-content: center;
} 

.card-content a{
  position: relative;
  text-decoration: none;
  display: flex;   
  justify-content: center; 
  font-size: 14px; 
  color: #006bc9;
}

.card-content a::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 1.5px;
  left: 65px;
  bottom: -4px;
  background: currentColor;
  transition: width 0.3s ease;
}

.card-content a:hover::after{
    width: 40%;

}




/* carousel */
#myCarousel .carousel-item {
  height: 80vh;
  min-height: 400px;
}

#myCarousel img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}





/* signup */
.signUp h3 {
  transition: transform 0.3s ease;
}

.signUp:hover h3 {
  transform: translateX(4px);
}






/* Cards */
.faq-card {
  height: 300px;
  border-radius: 18px;
  padding: 30px;
  border: none;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
  transition: all 0.35s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  cursor: pointer;
}

/* Hover effect */
.faq-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 25px 60px rgba(0,0,0,0.18);
  
}

/* Title text */
.faq-card .tip {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Fira Sans", Arial, "Helvetica Neue", Helvetica, sans-serif"

}

/* Sub text */
.faq-card .second-text {
  opacity: 0.75;
}

/* Color themes */
.firstCard { background: linear-gradient(135deg, #103060); color:#fff; }
.secondCard { background: linear-gradient(135deg, #0d3b78); color:#fff; }
.thirdCard { background: linear-gradient(135deg,#8b8ba7); color:#fff; }
 





/* why companies trust us */
.trust-section {
  background: #f5f6f8;
  padding: 100px 0;
}

.trust-title {
  font-size: 40px;
  font-family: "DM Serif Text", serif;
  color: #103060;
  margin-bottom: 30px;
}

.trust-lead {
  font-size: 17px;
  line-height: 1.8;
  color: #103060;
  margin-bottom: 18px;
  margin-bottom: 35px;

}


.trust-box h3 {
  font-size: 22px;
  font-family: "DM Serif Text", serif;
  color: #103060;
  margin-bottom: 8px;
}

.trust-box p {
  font-size: 15px;
  line-height: 1.7;
  color: #103060;
  max-width: 95%;
  margin-bottom: 35px;

}


/* Right Side Text */
.trust-right h1{
    color: #006BC9;
    font-family: "DM Serif Text";
    font-size: 60px;
    padding-left: 40px;
}


.trust-right p {
  font-size: 20px;
  line-height: 1.9;
  color: #103060;
  margin-bottom: 18px;
  font-weight: 700;
  padding-left: 40px;
  margin-bottom: 40px;

}


/*  Trust Box Hover Animation  */
.trust-box {
  transition: all 0.35s ease;
  border-radius: 14px;
}

.trust-box:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 12px 30px rgba(221, 211, 211, 0.12);
}



@keyframes float {
  0%,100% { transform: translateY(0); }
  50%     { transform: translateY(-6px); }
}

.trust-section :hover h2 {
  animation: float 3s ease-in-out infinite;
}




/* footer */
.pageFooter{
    background-color: #103060;
}

.pageFooter h5{
  color:white;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
}

.pageFooter p{
  font-family: "Fira Sans", sans-serif;
  color:white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;

}

.pageFooter .nav-link {
  color: white !important;
  padding-left: 0;
  font-family: "Fira Sans", sans-serif;

}


.pageFooter .nav-link {
  transition: all 0.3s ease;
}

.pageFooter .nav-link:hover {
  transform: translateX(4px);
}



.footerLocation p {
  transition: all 0.3s ease;
}

.footerLocation p:hover {
  transform: translateX(4px);
}



.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 24px 0;
    font-family: "Work Sans";
}


/* social links */
.social-links li {
  list-style: none;
}

.social-links a {
  color: white;
  transition: transform 0.25s ease, color 0.25s ease;
}

.social-links a:hover {
  color: #0a66c2;
  transform: translateY(-3px);
}


.footer-links{
   list-style: none;
  color: #fff;
}

.footer-links li{
  color: white;
  transition: transform 0.25s ease, color 0.25s ease;

}

.footer-links li:hover {
  color: #0a66c2;
  transform: translateY(-3px);
}




/*  Scroll Reveal Animations  */

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.9s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform, opacity;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* delays */
.delay-1 { transition-delay: 0.2s; }
.delay-2 { transition-delay: 0.4s; }
.delay-3 { transition-delay: 0.5s; }
.delay-4 { transition-delay: 0.6s; }
.delay-5 { transition-delay: 0.75s; }


.reveal-left {
  opacity: 0;
  transform: translateX(-60px);
  transition: all 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal-left.active {
  opacity: 1;
  transform: translateX(0);
}

.reveal-right {
  opacity: 0;
  transform: translateX(60px);
  transition: all 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal-right.active {
  opacity: 1;
  transform: translateX(0);
}






[data-bs-theme="dark"] div[style*="background-color"] {
  background-color: #121212 !important;
}

.section-bg {
  transition: background-color 0.3s ease;
}

:root {
  --bg-main: #ffffff;
  --bg-section: #F5F6F8;
  --text-main: #103060;
}

[data-bs-theme="dark"] {
  --bg-main: #121212;
  --bg-section: #181818;
  --text-main: #ffffff;
}



/* DEFAULT (LIGHT MODE) */
.join-section,
.trust-section {
  background: #F5F6F8;
  color: #103060;
}

/* Titles */
.join-title,
.trust-title,
.trust-box h3 {
  color: #103060;
}

/* Paragraphs */
.trust-lead,
.trust-box p,
.trust-right p {
  color: #445;
}



/* DARK MODE OVERRIDES */
[data-bs-theme="dark"] .join-section,
[data-bs-theme="dark"] .aboutUs,
[data-bs-theme="dark"] .trust-section,
[data-bs-theme="dark"] .insightsSection{
  background: #000000 !important;
  color: #ffffff !important;
}

/* [data-bs-theme="dark"] .trust-section{
    background: #312f2fb3 !important;
  color: #030202 !important;
} */


[data-bs-theme="dark"] .join-title,
[data-bs-theme="dark"] .trust-title,
[data-bs-theme="dark"] .trust-box h3 {
  color: #ffffff !important;
}

[data-bs-theme="dark"] .trust-lead,
[data-bs-theme="dark"] .trust-box p,
[data-bs-theme="dark"] .trust-right p {
  color: #d1d5db !important;
}

[data-bs-theme="dark"] hr,
[data-bs-theme="dark"] .card-content {
  border-color: #000000;
}


/* LIGHT MODE DEFAULT STYLES */

.expertise-section {
  background: #F5F6F8;
}

.expertise-title,
.industryHeader,
.team-title,
.team-name,
.financialServ,
.realEstate,
.realEstateList,
.FinancialServlist,
.joinUs{
  color: #103060;
}


/* DARK MODE OVERRIDES */
/* ========================= */

[data-bs-theme="dark"] .expertise-section {
  background: #000000 !important;
}

[data-bs-theme="dark"] .expertise-section,
[data-bs-theme="dark"] .expertise-section p,
[data-bs-theme="dark"] .expertise-section li,
[data-bs-theme="dark"] .expertise-section a {
  color: #ffffff !important;
}

[data-bs-theme="dark"] .expertise-title,
[data-bs-theme="dark"] .industryHeader,
[data-bs-theme="dark"] .team-title,
[data-bs-theme="dark"] .team-name ,
[data-bs-theme="dark"] .industryParag,
[data-bs-theme="dark"] .financialServ,
[data-bs-theme="dark"] .realEstate,
[data-bs-theme="dark"] .realEstateList,
[data-bs-theme="dark"] .FinancialServlist,
[data-bs-theme="dark"] .joinUs {
  color: #ffffff !important;
}

/* Team cards background */
[data-bs-theme="dark"] .custom-card,
[data-bs-theme="dark"] .card-content, 
[data-bs-theme="dark"] .faq-section,
[data-bs-theme="dark"] .form{
  background: #000000 !important;
  color: #ffffff;
}

/* Services boxes */
[data-bs-theme="dark"] .bg-body-tertiary {
  background: #000000 !important;
  border-color: #000000 !important;
}

/* Buttons */
[data-bs-theme="dark"] .btn-outline-primary {
  color: #fff;
  border-color: #fff;
}

[data-bs-theme="dark"] .btn-outline-primary:hover {
  background: #fff;
  color: #000;
}



